@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1140px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: $small-desktop-screen) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: $mobile-screen) {
  .container {
    padding: 0;
  }
}
